*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secendary-light: #fff6f2;
  --color-secendart-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-heading: #000;
  --color-body: #333;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
    line-height: 1.7;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* buttons */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secendary {
  background-color: var(--color-secendart-dark);
  color: var(--color-white);
}
.btn-block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn-block {
    font-size: 2rem;
  }
}

/* bridg */
.badge {
  display: inline-block;
  border-radius: 32px;
  font-size: 1.2rem;
  line-height: 20px;
  /* font-weight: 700; */
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secendary {
  background-color: var(--color-white);
  color: #ff5722;
  border: 2px solid var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list */

.list {
  list-style: none;
  font-size: 1.6rem;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
.list--tick .list__item {
  background: url(/assets/images/tik-squere.svg) no-repeat;
  background-position: right center;
  padding-right: 3.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* plan */

.block-plan {
  display: grid;
  gap: 3rem 4rem;
  margin-top: 5rem;
  grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
}
.plan {
  max-width: 400px;
  font-size: 1.8rem;
  transition: all 0.2 ease-out;
}

.card {
  border-radius: 20px;
  background-color: var(--color-white);
  overflow: hidden;
  box-shadow: 0 0 20px 10px #efefef;
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  color: var(--color-white);
}
.card__secondary .card__header {
  background-color: var(--color-secendart-dark);
}
.card__primary .card__header {
  background-color: var(--color-primary-light);
}
.plan__intruction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cicle {
  font-size: 1.4rem;
}
.plan__description {
  margin-top: 1.5rem;
  display: block;
}
.plan .btn-block {
  margin-top: 10rem;
}

@media screen and (min-width: 1024px) {
  .plan--popular {
    transform: scale(1.1);
  }
  .plan--popular:hover {
    transform: scale(1.15) !important;
  }
  .plan:hover {
    transform: scale(1.05);
  }
}

/* container */
.container {
  max-width: 1024px;
  margin: 7rem auto;
}
/* feature */
.feature {
  display: grid;
}
.feature__text {
  margin-bottom: 1.5rem;
}
.feature .btn {
  padding: 1.5rem 2.5rem;
}
.feature__image > img {
  width: 100%;
  height: auto;
}
.feature__image {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__image {
    order: 2;
    margin-bottom: 0;
  }
  .feature__detailes {
    order: 1;
  }
}

/* contact-us */
.cantact-us {
  display: grid;
}
.cantact-us__map {
  display: none;
}
.cantact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.cantact-us__icons .icon_holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.icon_holder-label {
  margin-left: 1.5rem;
  display: block;
  order: 1;
  max-width: 250px;
}
.icon-container {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .cantact-us {
    grid-template-areas:
      " address form"
      " map form"
      " icons form";
    grid-template-columns: 70fr 30fr;
  }
  .cantact-us__form {
    grid-area: form;
  }
  .cantact-us__map {
    grid-area: map;
  }
  .cantact-us__icons {
    grid-area: address;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
  }
  .cantact-us__icons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cantact-us__icons_img {
    width: 2rem;
    height: 2rem;
  }
  .cantact-us__icons span {
    margin-top: 2rem;
  }
  .cantact-us__social {
    grid-area: icons;
  }
  .cantact-us__map {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .cantact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cantact-us__icons .icon_holder {
    flex-direction: column;
    min-width: 150px;
  }
  .icon_holder-label {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}
/* icons */
.icon {
  width: 28px;
  height: 28px;
}
.icon--small {
  width: 32px;
  height: 32px;
}
.icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 100%;
}

/* social icons */

.cantact-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .cantact-us__social {
    justify-content: flex-end;
  }
  .cantact-us__social .icon-container {
    margin-left: 2rem;
  }
}
.cantact-us__map img {
  width: 100%;
  height: auto;
}

/* form */
.cantact-us__form {
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .cantact-us__form {
    margin-left: 3rem;
  }
}
.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  padding: 1rem;
}
.form-wrapper h3 {
  margin-bottom: 3.5rem;
  text-align: center;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}
::placeholder {
  font-size: 1.2rem;
  color: #444;
  font-family: "vazir";
}
textarea {
  resize: none;
  width: 100%;
}
.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1.2rem 1.5rem;
  /* margin: 0.7rem 0; */
  font-family: "vazir";
  margin-bottom: 1.5rem;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}
.form-wrapper textarea {
  border-radius: 5px;
}

/* footer */
.main-footer {
  background-color: #000;
  color: #fff;
  min-height: 250px;
  display: flex;
  align-items: center;
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-bottom: 2.5rem;
}
.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-white);
  display: block;
  margin-bottom: 0.5rem;
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}
.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__enemad {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 0.5rem;
}
.footer__enemad img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
    margin-bottom: 0;
    margin-left: 2.5rem;
  }
}

/* navbar */

/*JKKJKJ*/

.main-header {
  background-color: var(--color-navbar);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
}
.nav__item > a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 0.5rem 0;
  transition: all 0.4s ease-out;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__item.cta {
  font-size: 1.4rem;
  border: 0;
}

.nav__item.cta > a {
  color: #fff;
  font-size: 1.4rem;
}
.nav__item .btn {
  padding: 1rem 3rem;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2rem;
    margin-top: 0;
    font-size: 1.5rem;
    border: 0;
  }
}

/* TOGGLER */
.nav__toggler {
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

/* HRO */
.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.hero-section {
  width: 100%;
  height: 478px;
}
.hero-section img {
  width: 100%;
  height: auto;
}
.itro-btn {
  position: absolute;
  border-radius: 20px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 270px;
}
.itro-btn h1 {
  font-size: 2.5rem;
  color: #fff;
}
.itro-btn h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 3rem;
}
.intro-btn__passenger {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 1.4rem;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro-btn__passenger p {
  font-size: 1.4rem;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
  }
  .btn-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .itro-btn {
    width: 530px;
    padding: 25px;
    border-radius: 20px;
  }
  .itro-btn h1 {
    font-size: 5rem;
  }
  .itro-btn h2 {
    font-size: 2.5rem;
  }
  .intro-btn__passenger {
    margin: 0.5rem 0.5rem;
  }
  .intro-btn__passenger p {
    font-size: 1.6rem;
  }
}
/* services */
.services-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  padding: 5px 0 15px;
}
.services-tabs a {
  display: block;
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}
.services-tabs .tab > p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.services-tabs .tab {
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.services-tabs .tab:hover {
  opacity: 1;
}
.services-tabs img {
  max-width: 85px;
}
.services__title {
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.services__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.services .feature__title {
  margin-bottom: 1.5rem;
}
.services .feature__image {
  display: none;
}
.tab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-content .feature__detailes {
  width: 100%;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab.active {
  opacity: 1;
}
.services .feature {
  display: flex;
}
@media screen and (min-width: 768px) {
  .services-tabs a > p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .services-tabs img {
    width: 100%;
  }
  .services__title {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .services .feature__image {
    display: block;
  }
  .tab-content .feature__detailes {
    width: 50%;
  }
}
